@charset "UTF-8";

@font-face {
    font-family: 'Poesia';
    src: url('../fonts/Sriracha-Regular.ttf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Header';
    src: url('../fonts/PassionOne-Regular.ttf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
    background-color: white;
}

header {
    position: relative;
    text-align: center;
    height: 233px;
    background-color: black;
    color: white;
    margin: 0px;
    box-shadow: 3px 3px 10px black;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

main {
    font-family: 'Poesia', sans-serif;
    font-size: 100%;
    line-height: 2em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.blankback {
    background-color: white;
    color: black;
}

/*section.blankback > div {
    position: relative;
    top: 20%;
    left: 2%;
    font-size: 1.7em;
}*/

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.267);
    width: 400px;
}

/*section#fundo1 {
    background-color: black;
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 680px;
}*/

section p:hover {
    text-decoration: underline;
}

/*section#fundo2 {
    background-color: black;
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 680px;
}*/

/*div.fundopreto {
    position: relative;
    padding: 5px 0px;
    padding-left: 10px;
    top: 20%;
    left: 2%;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.705);
    width: 500px;
    color: white;
    border-radius: 6px;
}*/

footer {
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}